.loginpage__text_wrapper {
  padding-top: 50px;
  padding-left: 22px;
  padding-bottom: 46px;
}

.loginpage__title {
  font-family: "AppleSDGothicNeoM";
  font-size: 23px;
}

.loginpage__detail {
  font-size: 23px;
  font-family: "AppleSDGothicNeoL";
}

.loginpage_button_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 300px;
  
}

.loginpage__kakao_button,
.loginpage__naver_button,
.loginpage__email_button {
  padding-bottom: 15px;
  
}

.loginpage__button_img {
  width: 100%;
  height: auto;
}
