.section__modal_select_beans_or_drip {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 100%;
}

.trial__modal_beans_wrapper {
    width: 50%;
    height: auto;
}

.trial__modal_drip_wrapper {
    width: 50%;
    height: auto;
}

.trial__modal_beans_img {
    width: 100%;
    height: auto;
}

.trial__modal_drip_img {
    width: 100%;
    height: auto;
}