.home__statistics {
  background-color: #f1f1f1;
  text-align: center;
}

.statistics__chart_section {
  display: flex;
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 15px;
  justify-content: center;
  
}

.statistics__source { 
  font-family: "AppleSDGothicNeoUL";
  font-size: 10px;
  padding-top: 50px;
}

.chart__cursor_instant {
  padding-top: 20px;
  padding-bottom: 20px;
}
.chart__cursor_brewed {
  padding-top: 20px;
  padding-bottom: 20px;
}
.chart__instant {
  width: 78px;
  display: inline-block;
  padding-right: 10px;


}

.chart__brewed {
  width: 78px;
  display: inline-block;
  padding-left: 10px;
  
  
}

.chart__item_wrapper_instant {
  font-family: "AppleSDGothicNeoUL";
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border-style: solid;
  border-color: gray;
  border-width: thin;
  
}

.chart__item_wrapper_brewed {
  font-family: "AppleSDGothicNeoUL";
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: #92764d;
  
}

.section__chart_wrapper_brewed {
  background-color: #92764d;
  border-radius: 5px;
  color: white;
  border-style: solid;
  border-color: gray;
  border-width: thin;
}

.chart__item {
  font-family: "AppleSDGothicNeoUL";
  font-size: 13px;
  padding-top: 20px;
}

.chart__name {
  font-family: "AppleSDGothicNeoL";
  font-size: 11px;
  padding-top: 10px;
  font-weight: 500;
}

.statistics__title {
  font-family: "AppleSDGothicNeoSB";
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 26px;
}

.statistics__detail {
  font-size: 13px;
  padding-bottom: 30px;
  font-family: "AppleSDGothicNeoUL";
}
