.home__sample_title1 {
  padding-top: 50px;
  font-family: "AppleSDGothicNeoUL";
  font-size: 20px;
}

.home__sample_title2 {
  font-family: "AppleSDGothicNeoM";
  font-size: 28px;
  padding-bottom: 25px;
}

.section__sample {
  display: flex;
  text-align: center;
  flex-direction: column;
  /*background-color: #f1f1f1;*/
  background-image: url(../Bacs_Images/bg6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section_sample_detail {
}

.home__sample_img {
  padding-top: 70px;
  padding-right: 35px;
  width: 65%;
  height: auto;
}

.home__sample_detail_wrapper {
  margin-top: 20%;
  padding-bottom: 90px;
}

.home__sample_detail_title {
  font-family: "AppleSDGothicNeoL";
  font-size: 14px;
}

.home__sample_detail_detail {
  font-family: "AppleSDGothicNeoL";
  font-size: 11px;
}

.home__sample_detail_price_before {
  font-family: "AppleSDGothicNeoL";
  font-size: 10px;
}
.home__sample_detail_price_after {
  font-family: "AppleSDGothicNeoL";
  font-size: 15px;
}
