.section__home {
  padding-left: 50px;
  padding-top: 50px;
}

.home__title_firstLine {
  color: #4e4e4e;
  font-size: 20px;
  font-family: "AppleSDGothicNeoL";
}

.home__title_secondLine {
  color: #ff9319;
  font-size: 28px;
  font-family: "AppleSDGothicNeoM";
}

.home__title_thirdLine {
  font-weight: 300;
  font-size: 10px;
  font-family: "AppleSDGothicNeoL";
}

.home__trialButton3 {
  border-radius: 6px;
  border: 1px solid gray;
  background-color: orange;
  color: white;
  padding: 5px;
}

.home__main_img {
  padding-top: 100px;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
}
