a {
  text-decoration: none;
}
.section__subscribe {
  text-align: center;
}
.home__subscribe_img {
  background-color: #f1f1f1;
  width: 100%;
  height: auto;
}

.home__subscribe_title {
  font-family: "AppleSDGothicNeoL";
  font-size: 27px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home__subscribe_detail {
  font-family: "AppleSDGothicNeoUL";
  font-size: 13px;
}

.home__subscribe_link {
  font-family: "AppleSDGothicNeoM";
  color: #2e7be2;
  font-size: 13px;
}
