.nav__contanier,
.nav__menu_list {
  display: flex;
  justify-content: space-between;
}

.nav__link_text {
  text-decoration: none;
  color: black;
}

.nav__mobile_wrapper {
  display: flex;
  justify-content: space-between;
}

.nav__pc_wrapper {
  display: flex;
  justify-content: space-between;
}

.MuiAppBar-root {
  background-color: white;
}

.nav__cart_logo {
  padding-top: 9px;
}

.nav__mobile_home_logo {
  padding-top: 9px;
}

.nav__pc_home_logo {
  padding-top: 18px;
}
