@font-face {
  font-family: AppleSDGothicNeoB;
  src: url(./Font/AppleSDGothicNeoB.ttf);
}
@font-face {
  font-family: AppleSDGothicNeoEB;
  src: url(./Font/AppleSDGothicNeoEB.ttf);
}
@font-face {
  font-family: AppleSDGothicNeoH;
  src: url(./Font/AppleSDGothicNeoH.ttf);
}
@font-face {
  font-family: AppleSDGothicNeoL;
  src: url(./Font/AppleSDGothicNeoL.ttf);
}
@font-face {
  font-family: AppleSDGothicNeoM;
  src: url(./Font/AppleSDGothicNeoM.ttf);
}
@font-face {
  font-family: AppleSDGothicNeoR;
  src: url(./Font/AppleSDGothicNeoR.ttf);
}
@font-face {
  font-family: AppleSDGothicNeoSB;
  src: url(./Font/AppleSDGothicNeoSB.ttf);
}
@font-face {
  font-family: AppleSDGothicNeoT;
  src: url(./Font/AppleSDGothicNeoT.ttf);
}
@font-face {
  font-family: AppleSDGothicNeoUL;
  src: url(./Font/AppleSDGothicNeoUL.ttf);
}

body {
  margin: 0px;
}
