 {
  /*a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
}

.home__title {
  margin: 0;
  padding-bottom: 3px;
}

.top__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

.navigation__homeLogo {
  max-width: 180px;
  max-height: 40px;
  width: auto;
  height: auto;
  padding: 8px 12px;
}

.navigation__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navigation__mobile_menu_visible,
.navigation__mobile_menu_invisible {
  display: none;
}

.navigation__menu li {
  padding: 8px 12px;
}

.navigation__customer {
  display: flex;
  list-style: none;
}

.navigation__customer li {
  padding: 8px 12px;
}

.navigation__toggle_button {
  display: none;
}

.navigation__cart_button {
  display: none;
}

@media screen and (max-width: 768px) {
  .top__navigation {
    flex-direction: column;
  }

  .navigation__menu {
    display: none;
  }

  .navigation__toggle_button {
    position: absolute;
    display: block;
    left: 12px;
    font-size: 24px;
    color: white;
    background-color: transparent;
    border: 0;
  }

  .navigation__customer {
    display: none;
  }

  .navigation__mobile_menu_visible {
    flex-direction: column;
    display: block;
    list-style: none;
    margin-right: 70%;
    padding-left: 0;
    -webkit-transition: height 0.3s ease;
  }

  .navigation__mobile_menu_invisible {
    display: none;
    -webkit-transition: height 0.3s ease;
  }

  .navigation__cart_button {
    display: block;
    position: absolute;
    padding-top: 12px;
    right: 12px;
    background-color: transparent;
    border: 0;
  }
}
*/
}
