.section__trial_main {
    background-color: #F5F5F5;
    text-align: center;
  }

  .trail__main_text_wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .trial__main_title {
    
    color: #4e4e4e;
    font-size: 25px;
    font-family: "AppleSDGothicNeoL";
  }
  
  .trial__main_subtitle {
    color: black;
    font-size: 12px;
    font-family: "AppleSDGothicNeoL";
  }
  


  .trial__main_img {
    width: 30%;
    height: auto;
    }